/* Custom Stylesheet */
body {
  color: #ffffff;
}
.ui-page {
    background:url(../images/escheresque_ste.png);
    background-repeat: repeat;
}
label.error {
    display: block; 
    margin: 10px 0; 
    color: #fd0505;
}

#formErrorsLink {
    display: none;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
p {
    color: white;
}
.errHdg {
    color: black;
}
.inrTxt {
    color: black;
}
.ui-li-aside {
    color: black;
}
.inrHdg {
    color: black;
}
.imgLink {
    color: white;
}
.frmTxt {
    color: white;
}